<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Loginpro</a>
    <div class="navbar-expand mr-auto">
      <ul class="navbar-nav">
       <li><a class="nav-item nav-link active"routerLink="/dashboard">Dashboard</a></li> 
        <li><a class="nav-item nav-link" routerLink="/about">About</a></li>
        <li><a class="nav-item nav-link" routerLink="/contact">Contact</a></li>
        <li> <a class="nav-item nav-link logout" style="float:right" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>