<div class="jumbotron">
    <div class="container">
    <div class="row">
     <div class="col-sm-4 offset-sm-3">
    <h2>Signup Form</h2>
    <form [formGroup]='signUpForm' (ngSubmit)="onSave()">
      <div class="form-group">
          <label>Firsname</label>
          <input type="text" name="username" formControlName="firstname" class="form-control" [ngClass]="{'is-invalid':saveform && f.firstname.errors}">
          <div *ngIf="saveform && f.firstname.errors" class="invalid-feedback">
              <div *ngIf="f.firstname.errors.required">This field is required</div>
          </div>
      </div>
      <div class="form-group">
          <label>Lastname</label>
          <input type="text" name="lastname" formControlName="lastname" class="form-control"  [ngClass]="{'is-invalid':saveform && f.lastname.errors}">
          <div *ngIf="saveform && f.lastname.errors" class="invalid-feedback">
              <div *ngIf="f.lastname.errors.required">This field is required</div>
          </div>
      </div>
      <div class="form-group">
          <label>Username</label>
          <input type="text" name="username" formControlName="username" class="form-control"  [ngClass]="{'is-invalid':saveform && f.username.errors}"> 
          <div *ngIf="saveform && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">This field is required</div>
              <div *ngIf="f.username.errors.pattern">Pattern is wrong</div>
          </div>
      </div>
      <div class="form-group">
          <label>Role</label>
          <select formControlName="roleoption" class="form-control" [ngClass]="{'is-invalid':saveform && f.roleoption.errors}">
              <option value="1">Admin</option>
              <option value="2">User</option>
          </select>
          <div *ngIf="saveform && f.roleoption.errors" class="invalid-feedback">
                <div *ngIf="f.roleoption.errors.required">This field is required</div>
              <div *ngIf="f.roleoption.errors.pattern">Pattern is wrong</div>
          </div>
      </div>
      <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" formControlName="password" class="form-control"  [ngClass]="{'is-invalid':saveform && f.password.errors}">
          <div *ngIf="saveform && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">This field is required</div>
          </div>
      </div>
      <div class="form-group">
          <label>Confirm Password</label>
          <!-- <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false"> -->
          <input type="password" name="cpassword" formControlName="cpassword" class="form-control"  [ngClass]="{'is-invalid':saveform && f.cpassword.errors}">
          <!-- </show-hide-password> -->
          <div *ngIf="saveform && f.cpassword.errors" class="invalid-feedback">
              <div *ngIf="f.cpassword.errors.required">This field is required</div>
              <div *ngIf="f.cpassword.errors.mustMatch">Password must match</div>
          </div>   
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
</div>
</div>
</div>
</div>